#mac os
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#log files
*.log

#sublime text
*.sublime*

#packageproject
*.pkgproj

#All non _sample.plist files
*.plist
!*_sample.plist

#Excluding agent and daemon plists
!SleepWatcher.plist
!NightlyManagement.plist
!LoginLogout.plist

#key files
*.keychain

#xcode project for sleepwathcer daemon
*.xcodeproj
daemons/sleepWatcher/SleepWatcher/
